[submodule "provisioning/roles/common"]
	path = provisioning/common
	url = git@github.com:timmd909/izanagi-role-common.git
[submodule "provisioning/roles/sql-server"]
	path = provisioning/sql-server
	url = git@github.com:timmd909/izanagi-role-sql-server.git
[submodule "provisioning/roles/web-server"]
	path = provisioning/web-server
	url = git@github.com:timmd909/izanagi-role-web-server.git
